body{
  color: rgb(44,139,44);
  width: 95vh;
  height: 95;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#snake{
  border: 1px black solid;
  box-shadow: 3px 3px 6px;
}